<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script type="text/javascript" src="jquery/jquery-2.1.1.min.js" ></script>
<script src="layer/layer.js"></script>
<script type="text/javascript">
    $(function () {
        $("#test01").click(function () {
            var roadName = 123;
            var points = [];
            points.push("112.892566,22.906886");
            points.push("112.892567,22.906836");
            points.push("112.892568,22.906786");
            points.push("112.892570,22.906736");
            points.push("112.892571,22.906686");
            var pointType = "gateway";

            $.ajax({
                "url":"saveByRedis",
                "type":"post",
                "data":{
                    "roadName":roadName,
                    points:points,
                    "pointType":pointType
                },
                "dataType":"json",
                "success":function(response){
                    layer.msg("请求成功");
                    console.log(response.data);

                },
                "error":function (response) {
                    layer.msg("请求失败")
                    console.log(response);
                }
            });
        });

        // var a=122.565656;
        // a=a.toFixed(2);
        $("#test02").click(function () {
            //layer.msg($("#nodeType").val());
            $.ajax({
                "url":"testpy",
                "type":"post",
                "success":function(response){
                    layer.msg("请求成功")
                    console.log(response.data);

                },
                "error":function (response) {
                    layer.msg("请求成功")
                    console.log(response);
                }
            });
        });

    });
</script>
<body>
<h1>Test</h1>
<form>
    <input type="text" id="inputtest">
</form>
<button id="test01">点我吧</button>
<button id="test02">点我啊</button>
<form action="/uploads" method="post"  enctype="multipart/form-data">
    <input type="file" name="uploadFiles" value="请选择文件" multiple>
    <input type="submit" value="上传">
    aaa<select type="text" id="nodeType">
        <option>sensor</option>
        <option>gateway</option>
    </select>
</form>
</body>
</html>