<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link rel="icon" href="icon/bcar.png" type="image/x-icon"/>
    <!-- 引入 layui.css -->
    <link rel="stylesheet" href="layui/css/layui.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- 引入 layui.js -->
    <script src="layui/layui.js"></script>
    <script type="text/javascript" src="jquery/jquery-2.1.1.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Marked</title>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 90%;
            margin: 0px;
            padding: 0px
        }

        .layui-btn-container {
            margin-top: 11px;
            margin-left: 10px;
        }

        #container {
            height: 100%
        }
    </style>
    <!--百度地图SDK密钥-->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=3.0&ak=7yQLH1vsuBmKMSwd5jAKjkK0WkhGdOvy"></script>
</head>
<body>
<!--用于放置地图实例-->
<div id="container"></div>

<!--下方按钮组-->
<div class="produce">
    <div class="layui-form layui-form-pane">
        <!--输入框-->
        <div class="layui-inline">
            <label class="layui-form-label">Road</label>
            <div class="layui-input-inline">
                <input type="tel" id="roadName" lay-verify="required|phone" autocomplete="off" class="layui-input">
            </div>
        </div>
<!--    标记类型 NodeType-->
        <div class="layui-inline">
            <label class="layui-form-label">NodeType</label>
            <div class="layui-input-inline">
                <select lay-filter="nodeType" id="nodeType">
                    <option value="sensor" selected="">sensor</option>
                    <option value="gateway">gateway</option>
                    <option value="cros">crossing</option>
                </select>
            </div>
        </div>
        <div class="layui-inline">
<!--            右下方按钮组-->
            <div class="layui-block layui-btn-container">
                <button type="button" class="layui-btn layui-btn-normal" id="save">Save Data</button>
                <button type="button" class="layui-btn layui-btn-warm" id="cal" data-toggle="modal"
                        data-target="#calModal">Calculation
                </button>
                <button type="button" class="layui-btn" id="gshIt">Formatting</button>
                <button type="button" class="layui-btn" id="clear" data-toggle="modal"
                        data-target="#clearModal">Clear Database
                </button>
                <button type="button" class="layui-btn" id="sort" data-toggle="modal"
                        data-target="#sortModal">Sort
                </button>
                <button type="button" class="layui-btn layui-btn-warm" id="upload" data-toggle="modal"
                        data-target="#uploadModal">Files Upload
                </button>
                <button type="button" class="layui-btn" id="tdata" data-toggle="modal"
                        data-target="#tdataModal">TestData Upload
                </button>
            </div>
        </div>
    </div>
</div>
<!--null 按钮-->
<div id="123456">
    <button type="button" class="btn btn-primary" id="buttontest">Null</button>
</div>

<!--按钮组所对应的模态框-->
<!--清空数据库 新增-->
<div class="modal fade" id="clearModal" tabindex="-1" role="dialog" aria-labelledby="clearModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="clearModalLabel">Are you sure to clear your database?</h4>
            </div>
            <div class="modal-body" align="center">
                <button type="button" class="btn btn-primary" id="confirm">Confirm</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--测试数据上传 新增-->
<div class="modal fade" id="tdataModal" tabindex="-1" role="dialog" aria-labelledby="tdataModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="tdataModalLabel">Which test data would you like to upload?</h4>
            </div>
            <div class="modal-body" align="center">
                <button type="button" class="btn btn-primary" id="tdata232">232</button>
                <button type="button" class="btn btn-primary" id="tdata466">466</button>
                <button type="button" class="btn btn-primary" id="tdata1056">1056</button>
                <button type="button" class="btn btn-primary" id="tdata1500">1500</button>

                <button type="button" class="btn btn-primary" id="tdata2322">G114</button>
                <button type="button" class="btn btn-primary" id="tdata4662">G228</button>
                <button type="button" class="btn btn-primary" id="tdata10562">G354</button>
                <button type="button" class="btn btn-primary" id="tdata15002">G484</button>

<!--                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>-->
            </div>
        </div>
    </div>
</div>

<!--排序 新增-->
<div class="modal fade" id="sortModal" tabindex="-1" role="dialog" aria-labelledby="sortModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="sortModalLabel">Are you sure you want to sort data in the database?</h4>
            </div>
            <div class="modal-body" align="center">
                <button type="button" class="btn btn-primary" id="sortconfirm">Confirm</button>
                <button type="button" class="btn btn-primary" id="backup">Backup</button>
                <button type="button" class="btn btn-primary" id="restore">Restore</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!--计算比较 -->
<div class="modal fade" id="calModal" tabindex="-1" role="dialog" aria-labelledby="calModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="calModalLabel">Calculation</h4>
            </div>
            <div class="modal-body" align="center">
                <button type="button" class="layui-btn layui-btn-warm" id="calLinner">LD</button>
                <button type="button" class="layui-btn layui-btn-warm" id="calGA">GA</button>
                <button type="button" class="layui-btn layui-btn-warm" id="calBB">BB</button>
                <button type="button" class="layui-btn layui-btn-warm" id="calGreedy">NG</button>
                <button type="button" class="layui-btn layui-btn-warm" id="calFive">TPS</button>
                <button type="button" class="layui-btn layui-btn-warm" id="calAco">ACO</button>
            </div>
        </div>
    </div>
</div>

<!--数据库上传 绘制传感器、网关、路口-->
<div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="uploadModalLabel">Files Upload</h4>
            </div>
            <div class="modal-body" align="center">
                <button type="button" class="btn btn-primary" id="sensorupload">Sensor Upload</button>
                <button type="button" class="btn btn-primary" id="gatewayupload">Gateway Upload</button>
                <button type="button" class="btn btn-primary" id="crosupload">Crossing Upload</button>
            </div>
        </div>
    </div>
</div>

</body>

<!-- All js code -->
<script type="text/javascript">
    // 创建自定义网关图标
    var gIcon = new BMap.Icon("icon/jian.png", new BMap.Size(32, 32));
    // 传感器图标
    var sIcon = new BMap.Icon("icon/point16.png", new BMap.Size(16, 16));
    // 车位图标
    var rIcon = new BMap.Icon("icon/parkingspace.png", new BMap.Size(48, 48));
    // 路口图标
    var cIcon = new BMap.Icon("icon/green.png", new BMap.Size(32, 32));

    // 自定义变量
    var all_sensor = [];
    var pointArr = [];//存放一条路的起点与终点
    var pts = [];//存放一条路所有的传感器节点
    var str = [];
    var pointIndex = 0;//初始化节点之间的距离
    var all = [];//存放地图上所有标记的节点
    var map = new BMap.Map("container");// 创建地图实例
    // var point = new BMap.Point(113.80848202641658,22.816506505348503);// lyj标注位置
    var point = new BMap.Point(112.8835, 22.9082);   // gxh上传
    // var point = new BMap.Point(113.87908182502431, 22.91486091203956);  //东莞理工学院北门坐标
    map.centerAndZoom(point, 19);// 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.disableDoubleClickZoom(true);
    map.addControl(new BMap.ScaleControl());  //添加比例尺
    //突破19级限制
    var defaultMapType = map.getMapType();
    var defaultTileLayer = defaultMapType.getTileLayer();//创建了一个地图图层
    var newMapType = new BMap.MapType('新地图', defaultTileLayer, {minZoom: 18, maxZoom: 21});
    map.setMapType(newMapType);
    map.addControl(new BMap.MapTypeControl({
        mapTypes: [
            BMAP_NORMAL_MAP,//正常
            BMAP_HYBRID_MAP//混合
        ]
    }));

    // 添加自定义组件
    // 定义一个控件类，即function
    function MyControl(){
        // 设置默认停靠位置和偏移量
        this.defaultAnchor = BMAP_ANCHOR_TOP_LEFT;
        this.defaultOffset = new BMap.Size(10, 10);
    }
    // 通过JavaScript的prototype属性继承于BMap.Control
    MyControl.prototype = new BMap.Control();
    // 自定义控件必须实现initialize方法，并且将控件的DOM元素返回
    // 在本方法中创建个div元素作为控件的容器，并将其添加到地图容器中
    MyControl.prototype.initialize = function(map){
        // 创建一个DOM元素
        var div = document.getElementById("123456");
        // 添加DOM元素到地图中
        map.getContainer().appendChild(div);
        // 将DOM元素返回
        return div;
    }
    // 创建控件实例
    var MyControl= new MyControl();
    // 添加到地图当中
    map.addControl(MyControl);

    //清除商场等图层
    map.setMapStyleV2({
        styleJson: [
            {
                "featureType": "building",
                "elementType": "all",
                "stylers": {
                    "visibility": "off"
                }
            },
            {
                "featureType": "poilabel",
                "elementType": "all",
                "stylers": {
                    "visibility": "off"
                }
            },
            {
                "featureType": "manmade",
                "elementType": "all",
                "stylers": {
                    "visibility": "off"
                }
            },
        ]
    });

    function drawPoints(response) {
        var dataGateway = response.data.gatewayList;//response.data计算出来的最终网关坐标
        alert(dataGateway[0].length + " gateways have been used! " )
        //在地图上标记网关坐标
        for (var j = 0; j < dataGateway[0].length; j++) {
            var temp = dataGateway[0][j].split(",");
            var point1 = new BMap.Point(temp[0], temp[1]);
            var marker1 = new BMap.Marker(point1, {
                icon: gIcon
            });
            map.addOverlay(marker1);
            marker1.setTop(true);
            // 绘制圆
            // var colors = ['blue','red','green','black','blue'];
            var circle = new BMap.Circle(point1, 68, {
                strokeColor: 'blue',
                strokeWeight: 2,
                strokeOpacity: 0.5, //圆形的边线透明度
                strokeStyle: 'solid'
            });
            map.addOverlay(circle);
        }

        // 标记传感器节点
        var sensors = response.data.sensorList;//response.data计算出来的最终网关坐标
        for (var i = 0; i < sensors.length; i++) {
            var sensor_point = new BMap.Point(sensors[i][2], sensors[i][3]);
            var sensor_marker = new BMap.Marker(sensor_point, {icon: sIcon});
            // var marker0 = new BMap.Marker(point1, {icon: rIcon});
            // map.addOverlay(marker0);
            map.addOverlay(sensor_marker);
        }
    }

    //JS
    $(function () {
        map.addEventListener('click', function (e) {
            var cros = $("#nodeType").val();

            if (cros == "cros") {

                pts.push(e.point);
                var markerCros = new BMap.Marker(e.point, {
                    icon: sIcon
                });

                map.addOverlay(markerCros);
            } else {
                pointArr.push(e.point);
                var start = new BMap.Point(pointArr[0].lng, pointArr[0].lat);
                map.addOverlay(new BMap.Marker(start));
                // pts.push(start);

                var end = new BMap.Point(pointArr[1].lng, pointArr[1].lat);
                map.addOverlay(new BMap.Marker(end));
                // pts.push(end);
                pointArr = []

                var x1 = start.lng;
                var y1 = start.lat;
                var x2 = end.lng;
                var y2 = end.lat;

                var bool = $("#nodeType").val();
                if (bool == "sensor") {
                    pointIndex = 5;
                } else {
                    pointIndex = 15;
                }

                var chang = map.getDistance(start, end).toFixed(2);
                //利用相似三角形求出等距离的点的坐标
                for (var i = pointIndex; i < chang; i += pointIndex) {
                    var x3 = i / chang * (x1 - x2) + x2;
                    x3 = x3.toFixed(6);
                    var y3 = i / chang * (y1 - y2) + y2;
                    y3 = y3.toFixed(6);
                    var point = new BMap.Point(x3, y3);
                    pts.push(point);
                }

                //二维数组，存放多条街道的坐标点
                if (bool == "sensor") {
                    all_sensor.push(pts)
                    console.log(all_sensor[0][0].lng, all_sensor[0][0].lat);
                }
                all.push(pts)
                //pts = []//计算时需注释
                // 删除已经标注的点
                map.clearOverlays()
                //在地图上标注这些点
                // for (let j = pts.length; j >1; j--) {
                for (var j = 0; j < all.length; j++) {
                    for (var k = 0; k < all[j].length; k++) {
                        var point1 = new BMap.Point(all[j][k].lng, all[j][k].lat);
                        var myNode = $("#nodeType").val();
                        if (myNode == "sensor") {
                            var xx1 = all[j][0].lng;
                            var yy1 = all[j][0].lat;
                            var xx2 = all[j][all[j].length - 1].lng;
                            var yy2 = all[j][all[j].length - 1].lat;
                            var angle = Math.atan2((yy1 - yy2), (xx2 - xx1))  //弧度  0.6435011087932844
                            var theta = angle * (180 / Math.PI);  //角度  36.86989764584402
                            var marker0 = new BMap.Marker(point1, {
                                icon: rIcon
                            });
                            var marker1 = new BMap.Marker(point1, {
                                icon: sIcon
                            });
                            marker0.setRotation(theta)
                            map.addOverlay(marker0)
                        } else {
                            marker1 = new BMap.Marker(point1, {
                                icon: gIcon
                            });
                        }
                        map.addOverlay(marker1)
                    }
                }
            }
        });
        //值改变事件 无需更改
        layui.use(['layer', 'form', 'jquery'], function () {
            var form = layui.form;
            form.on('select(nodeType)', function (data) {
                all = [];
                map.clearOverlays();
            });
        });
    });
</script>
<script type="text/javascript" src="js/cal_ajax.js"></script>
<script type="text/javascript" src="js/data_upload.js"></script>
</html>
