<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>标记</title>
    <style type="text/css">
        html{height:100%}
        body{height:90%;margin:0px;padding:0px}
        button{position: absolute;bottom:5%;background-color: antiquewhite}
        #container{height:100%}
    </style>
   <!--百度地图SDK密钥-->
    <script type="text/javascript" src="https://api.map.baidu.com/api?v=2.0&ak=9nGWZvruVhORFbBRonwmEfgU1ax4Drrp">
    </script>
    <script src="jquery/jquery-2.1.1.min.js"></script>
</head>
<body>
<div id="container"></div>
<div class="produce">
街道：<input type="text" value="roads.roadName">
节点类型：<input type="text"value="roads.nodeType">
起点： <input type="text" class="startPoint"  id="startlnglat"/>
终点： <input type="text" class="endPoint" id="endlnglat"/>
<button id="hhe">保存</button>
</div>
</body>

<script type="text/javascript">


    var map = new BMap.Map("container");// 创建地图实例
    var point = new BMap.Point(112.884,22.909);// 创建点坐标
    map.centerAndZoom(point, 21);// 初始化地图，设置中心点坐标和地图级别
    map.enableScrollWheelZoom(true);     //开启鼠标滚轮缩放
    map.addControl(new BMap.MapTypeControl({
        mapTypes:[
            BMAP_NORMAL_MAP,//正常
            BMAP_HYBRID_MAP//混合
        ]}));

    var pointArr = [];
    map.addEventListener('click', function (e) {
        pointArr.push(e.point);
        console.log(pointArr[0].lat);
        var pts = [];
        var str=[];
        for(var i=0;i<pointArr.length;i++){
            var a= pointArr[i].lng +","+ pointArr[i].lat;
            str.push(a);
        }
        console.log(str);
        var start = new BMap.Point(pointArr[0].lng, pointArr[0].lat);
       // const  document.getElementById("port11").value;
       //  that.startlnglat = pointArr[0].lng + ',' + pointArr[0].lat;
        map.addOverlay(new BMap.Marker(start));
        // var start = new BMap.Point(112.883023, 22.909171)
        pts.push(start);
        var end = new BMap.Point(pointArr[1].lng, pointArr[1].lat);
        // that.endlnglat = pointArr[1].lng + ',' + pointArr[1].lat;
        map.addOverlay(new BMap.Marker(end));
        // var end = new BMap.Point(112.884159, 22.907069)
        pts.push(end);
        var x1 = start.lng;
        var y1 = start.lat;
        var x2 = end.lng;
        var y2 = end.lat;
        var pointIndex = 6;
        // var polyline = new BMap.Polyline([start,end]);
        var chang = map.getDistance(start, end).toFixed(2);
        // var chang = BMap.GeoUtils.getPolylineDistance(polyline);
        for (var i = pointIndex; i < chang; i += pointIndex) {
            var x3 = i / chang * (x1 - x2) + x2;
            var y3 = i / chang * (y1 - y2) + y2;
            var point = new BMap.Point(x3, y3);
            pts.push(point);
            // that.points = pts
            //console.log(pts)
        }
        for (var j = 2; j < pts.length; j++) {
            var point1 = new BMap.Point(pts[j].lng, pts[j].lat);
            var marker1 = new BMap.Marker(point1);
            map.addOverlay(marker1)
        }
    });


</script>

</html>
